@import "./styles/variables"

#container
  width: 100%
  height: 100vh
  display: flex
  align-items: flex-end

#calculator
  width: 100%
  height: 70vh
  padding: $grid-gap // padding and grid-gap should be the same to look nice
  display: grid
  grid-template: repeat(6, 1fr) / repeat(4, 1fr)
  grid-gap: $grid-gap

#display
  border: 0
  padding: 2vw
  grid-column: 1 / -1
  background-color: transparent
  text-align: right
  &:focus
    outline: none

// On hover, will increase the lightness of the buttons' background color by 10%
.misc
  background-color: hsl(60, 2%, 83%) // light gray
  color: #000
  &:hover
    background-color: hsl(60, 2%, 93%)

.operator,
#calculate
  background-color: hsl(219, 88%, 55%) // blue
  &:hover
    background-color: hsl(219, 88%, 65%)

.number
  background-color: hsl(0, 0%, 11%) // dark gray
  &:hover
    background-color: hsl(0, 0%, 21%)

#number-container
  grid-area: 3 / 1 / span 4 / span 3
  display: grid
  grid-template: repeat(4, 1fr) / repeat(3, 1fr)
  grid-gap: $grid-gap // this grid-gap should be the same as parent's grid-gap to look nice

#zero
  grid-column: 1 / span 2

@media only screen and (min-width: 1025px) // for big landscape tablets, laptops, and desktops
  #container
    justify-content: center
    align-items: center

  #calculator
    width: 50%
