@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap')
@import "./styles/variables"

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: Inter, Arial, sans-serif
  color: $secondary-color

body
  background: $dominant-color
  line-height: 1.5
